<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Leaftaps">
<parameter name="URL" value="http://leaftaps.com/opentaps/control/login"/>
<parameter name="userName" value="demosalesmanager"/>
<parameter name="passWord" value="crmsfa"/>
  <test thread-count="5" name="CreateLead">
  <parameter name="browserName" value="Chrome"/>
    <classes>
      <class name="week7.day1.CreateLead"/>
       <class name="week7.day1.EditLead"/>
    </classes>
  </test> <!-- CreateLead -->
</suite> <!-- Leaftaps -->
